@import "tailwindcss";
@import "@nuxt/ui";

html {
  font-family: "League Spartan";
}

body {
  background-color: #f4f4f4;
  background-image: linear-gradient(to right, #ceedff 1px, transparent 1px),
    linear-gradient(to bottom, #ceedff 1px, transparent 1px);
  background-size: 20px 20px;
}
